%ul.cards

#cardTemplate.template
  %li.card
    %h2.name ${name}
    .attack ${attack}
    .defense ${defense}
    .types
      .type{ :class => "${type3}" } ${type3}
      .type{ :class => "${type2}" } ${type2}
      .type{ :class => "${type1}" } ${type1}

:plain
  <script type="text/coffeescript">
    $ () ->
      key = "0ArtCBkZR37MmdHFXS1pPRmVlSjIzeHRKalpaQnlHNFE"

      $.loadSpreadsheet key, (results) ->
        $.each results, (i, card) ->
          4.times ->
            $("#cardTemplate").tmpl(card).appendTo("ul.cards")

        $(".attack, .defense").each () ->
          $this = $(this)

          n = parseInt($this.text(), 10)
          $this.text('')

          n.times () ->
            $this.append("<div class='symbol'></>")

  </script>
